body
{
	font-family: 'Open Sans';
	background: #9f2800 url("img/back_texture.jpg");
}

#logo, #content
{
	width: 960px;
	margin: auto;
}

#logo
{
	color: white;
	font-size: 28px;
	padding: 60px 0;
}


#hacky
{
	height: 150px;
	width: 565px;
	background: url("img/header.png") no-repeat;
	background-size: 565px 150px;
	display: inline-block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2)
{
	#hacky
	{
		background-image: url("img/header@2.png");
	}
}

#input, #output
{
	display: inline-block;
	font-family: 'Open Sans';
	padding: 20px;
	font-size: 18px;
	width: 450px;
	height: 360px;
	float: right;
	border: 0 none;
	resize: none;
	background: white;
}

#input
{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#output
{
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;

	background: rgba(0,0,0,0.2);
	color: white;
}

#button
{
	display: inline-block;
	height: 360px;
	background: #D6D6D6;
	width: 60px;
	float: right;
}

#button:hover {	cursor: pointer; }